*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.slider {
  z-index: 10;
  padding: 4rem 0;
  max-width: 500px;
  margin: auto;
  position: relative;
  overflow-x: hidden;
  background-image: url(/images/pattern-bg.svg), url(/images/pattern-quotes.svg);
  background-position: 50% 10%, 50% 62%;
  background-size: auto 47%, 20% auto;
  background-repeat: no-repeat;
}

.slider__frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 95vh;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 4rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.slider__text {
  text-align: center;
  line-height: 150%;
  margin-top: 2rem;
}

.slider__title {
  font-size: 1.4rem;
  text-align: center;
}

.slider__title h2 {
  color: #202046;
}

.slider__title h3 {
  color: #babacf;
  font-weight: 500;
}

.slider__navigation {
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 3rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 1rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
  z-index: 999;
}

.slider__navigation-button {
  padding: .3rem 1.5rem;
}

.slider__img {
  height: 50%;
  min-height: 50%;
  width: auto;
  -webkit-box-shadow: -32px 34px 48px -12px rgba(0, 0, 0, 0.34);
          box-shadow: -32px 34px 48px -12px rgba(0, 0, 0, 0.34);
}

@media (min-width: 1000px) {
  .slider {
    max-width: 950px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 500px;
    padding: 0;
    background-position: 100% 50%, 10% 25%;
    background-size: 50%, 10%;
  }
  .slider__slide {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
  }
  .slider__text {
    width: 65%;
    text-align: left;
    font-size: 2rem;
  }
  .slider__frame {
    height: 100%;
    width: 100%;
  }
  .slider__navigation {
    top: 90%;
    -webkit-transform: translate(110%, -50%);
            transform: translate(110%, -50%);
  }
  .slider__img {
    position: absolute;
    top: 10%;
    height: 80%;
    right: 0;
    z-index: -10;
  }
  .slider__title {
    font-size: 1.2rem;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slider__title h2 {
    padding-right: .3rem;
  }
}
/*# sourceMappingURL=style.css.map */