*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;


}

.slider{
    z-index: 10;
    padding: 4rem 0;
   
    max-width: 500px;
    margin: auto;
    position: relative;
    overflow-x: hidden;
    background-image: url(/images/pattern-bg.svg), url(/images/pattern-quotes.svg);
    background-position: 50% 10%, 50% 62%;
    background-size: auto 47%, 20% auto;
    background-repeat: no-repeat;
    &__frame{
    	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
    height: fit-content;
    max-height:95vh;
    transition: .4s;
  
  
        
    }
    &__slide{

        display: flex;
      flex-direction: column;
      align-items: center;
        padding: 2rem 4rem;
      justify-content: space-between;
      width: 100%;
	flex-shrink: 0;
    
        

       
    }
    &__text{
        text-align: center;
        line-height: 150%;
        margin-top: 2rem;
    }
    &__title{
        font-size: 1.4rem;
        text-align: center;
        h2{
           color:hsl(240, 38%, 20%);
        }
        h3{
            color:  hsl(240, 18%, 77%);
            font-weight:500;
        }
    }
    &__navigation{
        position: absolute;
        left:50%;
        top: 50%;
        border-radius: 3rem;
        transform: translate(-50%, -50%);
  
        background-color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: fit-content;
        cursor: pointer;
        z-index: 999;

        &-button{
            
            padding: 1.3rem 2.3rem;
        }
    }
    &__img{
        
       height: 50%;
       min-height: 50%; 
        width:  auto;
        box-shadow: -32px 34px 48px -12px rgba(0, 0, 0, 0.34);
            
       
        

        

    }

}
@media(min-width:1000px){
    .slider{
        max-width:950px;
        display: flex;
        align-items: center;
        height: 500px;
        padding: 0 ;
        background-position:100% 50%, 10% 25% ;
        background-size: 50%, 10%;
       
       
        &__slide{
           justify-content: center;
           align-items: flex-start;
            position: relative;

        }
        &__text{
            width: 65%;
            text-align: left;
            font-size: 2rem;
        }
        &__frame{
            height:100%;
            width: 100%;
        
        }
        &__navigation{
            top: 90%;
            transform: translate(110%, -50%);
        }
        &__img{
            position: absolute;
            top:10%;
           height: 80%;
            right: 0;
            
            z-index: -10;
        
            
        }
        &__title{
            font-size: 1.2rem;
            text-align: left;
            display: flex;
            align-items: center;
            h2{
      
               padding-right: .3rem;
            }
        
        }

    }
}