*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;


}

.slider{
    
    max-width: 600px;
    margin: auto;
    position: relative;
    overflow-x: hidden;
   
    
    &__frame{
    	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
    height: fit-content;
    max-height:95vh;
  
  
        
    }
    &__slide{

        display: flex;
      flex-direction: column;
      align-items: center;
        padding: 2rem 4rem;
      justify-content: space-between;
      width: 100%;
	flex-shrink: 0;
        

       
    }
    &__text{
        text-align: center;
        line-height: 150%;
        margin-top: 5rem;
    }
    &__title{
        font-size: 1.4rem;
        text-align: center;
        h2{
           color:hsl(240, 38%, 20%);
        }
        h3{
            color:  hsl(240, 18%, 77%);
            font-weight:500;
        }
    }
    &__navigation{
        position: absolute;
        left:50%;
        top: 50%;
        border-radius: 3rem;
        transform: translate(-50%, -50%);
        padding: 1rem;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: fit-content;
        z-index: 99;

        &-button{
            margin: 0 1.5rem;
        }
    }
    &__img{
        
        height: 50%;
        width:  auto;

        

    }

}